/* Signup.css */
.chatbot-img {
    max-width: 100%;
    max-height: 250px;
    width: auto;
}

.signup-title {
    text-align: center;
    margin-bottom: 2rem;
    color: #343a40;
}

.form-content {
    padding: 0;
}

.invalid-tooltip {
    font-size: 0.7rem;
}

@media(max-width: 400px) {
    .invalid-tooltip {
        font-size: 0.6rem;
    }
}
